body
{
	padding: 0;
	margin: 0;
	background-color:#FFCCCC;
	box-shadow:inset -12px -12px 22px rgba(255, 250, 250, 0.25), inset 10px 10px 22px rgba(214, 149, 149, 0.72);

}

h1{
	text-align:center;
	position:relative;
}

nav
{
	background-color:black;
	color:white;
	font-weight:900;
}

.mail-view
{
	position:absolute;
	top:40%;
	left:40%;
	font-size:30px;
	color:black;
}
